Description=Testing Service
ConditionPathExists=|/usr/bin
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/bin/bash -c 'cd /root/m1k-imaging; /usr/bin/python test.py'
Type=simple
#RestartSec=3
#Restart=always

[Install]
WantedBy=multi-user.target
